.search-container {
    position: relative;
    display: inline-block;
}

.search-container-school {
    position: relative;
}

.search-input {
    width: 180px;
    /* padding: 8px; */
}

.search-results {
    list-style-type: none;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    max-height: 400px;
    z-index: 999;
    overflow-y: auto;
    background-color: white;
    color: rgb(37, 37, 37);
    border: 1px solid #ccc;
}

/* Define the styles for the list items */
.result-list li {
    padding: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Define the hover effect */
.result-list li:hover {
    background-color: #7577e7;
    color: #ffffff;
}
