body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.ct__content:not(.ct__content > *) {
  /* Your styles for .ct__content */
  background-color: rgb(255, 255, 255);
  color: black;
}

.image-tool__caption {
  display: none;
}

.ce-block--stretched {
  width: 100%;
}
.image-tool--withBackground {
  width: 100%;
}

.friend-list:hover {
  background-color: rgb(214, 214, 214);
}
.mail-icon {
  /* Default styles */
  color: black;
  background-color: transparent;
}

.mail-icon:hover {
  /* Add your hover effect styles here */
  /* Example styles: */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 212, 212);
}
