.ql-editor strong {
  font-weight: bold;
}

.container .ql-editor {
  /* width: 8.5in; */
  /* padding: 1in; */
  /* margin: 1rem; */
  box-shadow:0 0 5px 0 rgba(0,0,0,.5);
}

.container .ql-toolbar.ql-editor {
  display: none;
}