<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="0;url=welcome">
    <title>SB Admin</title>
    <script language="javascript">
        window.location.href = "startbootstrap-sb-admin-master/dist/index.html"
    </script>
</head>

<body>
    Go to <a href="startbootstrap-sb-admin-master/dist/index.html">/dist/index.html</a>
</body>

</html>
